@tailwind base;

@tailwind components;

@tailwind utilities;

.main-layout-container{
  background-color: rgba(0,0,0,0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
}
.container{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  min-height: 90vh;
}
.custom-menu{
  cursor: pointer;
  color:black;
}

.custom-menu:hover { text-decoration: none; }
.custom-menu-item:hover { background-color: rgba(0,0,0,0.03) }

.anticon{
  position: relative;
  top: -0.25em;
}